html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f4f6f9;
}


/* Ajustes para que el calendario ocupe espacio y se vea bien */
#calendar{
    max-width: 900px;
    margin: 40px auto;
}

/* Color para la casilla del dia actual */
/* .fc-day-today{
    background-color: #eaf6ff !important;
    border: 1px solid #90caf9;
    border-radius: 6px;
} */

.fc-day-today {
    background-color:rgb(250, 226, 189) !important;
    border: 2px solid rgb(246, 100, 100);
    border-radius: 50%;
  }
  