html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f4f6f9;
}


/* Ajustes para que el calendario ocupe espacio y se vea bien */
#calendar{
    max-width: 900px;
    margin: 40px auto;
}